#about {
  padding-top: 8rem;
  padding-bottom: 16rem;
  .wrapper {
    &-about {
      width: 50rem;
      margin-bottom: 8rem;
    }
    h2 {
      font-weight: 400;
      margin-bottom: 3.2rem;
    }
    p {
      font-size: 1.4rem;
      margin-bottom: 2.2rem;
    }
  }
}
