$default-font-size: 1.6rem;
$default-font-color: #333;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  color: $default-font-color;
}

.wrapper {
  width: 100%;
  max-width: 136rem;
  padding: 0 4rem;
  margin: 0 auto;
}
a,
a:link,
a:visited {
  text-decoration: none;
  color: $default-font-color;
}

ul {
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

body {
  color: #333;
  font-size: 0.875rem;
  min-height: 100vh;
  position: relative;
}
a {
  color: #333;
  text-decoration: none;
  transition: all 0.5s;
}
a:hover {
  opacity: 0.7;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
