/////////////
// HEADER
/////////////
#item-detail {
  padding-top: 8rem;
  padding-bottom: 6rem;
}

.item-header {
  margin-bottom: 5rem;
}

/////////////
// ITEM CONTENT
/////////////

.wrapper-item {
  h2 {
    font-weight: 400;
    margin-bottom: 30px;
    font-size: 1.6rem;
  }
  img {
    float: left;
    width: 30rem;
  }
}

.item-detail-container {
  float: left;
  width: 30rem;
  margin-left: 6.8rem;
  margin-bottom: 10rem;
  font-size: 1.2rem;
  .margin-p {
    &-small {
      margin-bottom: 2rem;
    }
    &-medium {
      margin-bottom: 2.8rem;
    }
  }
  .item-spec {
    display: flex;
    flex-wrap: wrap;
    dt {
      width: 40%;
    }
    dd {
      width: 50%;
    }
  }
}

.cls {
  clear: both;
}

.back-to-products {
  text-align: center;
  margin-bottom: 6.4rem;
  a {
    font-size: 1.4rem;
  }
}
@media (max-width: 900px) {
  #item-detail {
    padding-bottom: 8rem;
  }
  .wrapper-item {
    h2 {
      font-weight: 400;
      margin-bottom: 30px;
      font-size: 1.6rem;
    }
    img {
      float: none;
      width: 100%;
    }
  }
  .item-detail-container {
    float: none;
    margin-top: 4rem;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 6rem;
    font-size: 1.6rem;
    .item-spec {
      dt {
        width: 40%;
      }
      dd {
        width: 60%;
      }
    }
  }
}
